{% extends "base.html" %}
{% block content %}

<div class="containr mt-3 p-3">
<p>PotterBot is a web application that allows users to query the Harry Potter books and receive detailed answers, utilizing a combination of text retrieval and generation techniques. This project leverages Retrieval-Augmented Generation (RAG), where relevant sections of text are retrieved from the books, and a language model generates a response based on the retrieved content.

</p>
</div>

{% endblock content %}