{% extends 'base.html' %}
{% block content %}
  <div class="container mt-5 p-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;border-radius: 20px;">
    <p class="">PotterBot is a web application that allows users to query the Harry Potter books and receive detailed answers, utilizing a combination of text retrieval and generation techniques. This project leverages Retrieval-Augmented Generation (RAG), where relevant sections of text are retrieved from the books, and a language model generates a response based on the retrieved content.</p>
  </div>

  <div class="container my-5 p-5" style="box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;border-radius: 20px;">
    <p>Ask Questions</p>
    <form action="" method="post">
      {% csrf_token %}
      <div>
        <input type="text" class="form-control" name="question" placeholder="Type your question here" />
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary my-3">Submit</button>
      </div>
      {% if text %}
        <div class="mt-3">
          <p>{{ text }}</p>
        </div>
      {% endif %}
    </form>
  </div>
{% endblock %}